* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid {
    display: grid;   
    grid-template: "header" 
                    "nav" 
                    "footer" /
                    auto; 
}
    /* ---------------------------------navegador--------------------------------- */

header {
background-color: red;
}

h1{
text-align: center;
text-shadow: 8px 8px 5px white;
}

h2 {
    background-color: red;
}

h3 {
    border: solid 2px black;
    margin: 2px;
    border-radius: 15px;
}

nav ul li, a{
display: inline-block;
text-decoration: none;
color: black;
padding: 15px 10px;
}



.titulodestacado {
color: red;
}

@media screen and (max-width: 800px) {
    nav {
        display:flex
    }

    p {
        display: none;
    }

    .flex {
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }

    a {
        display: flex;
        margin: 0px 100px;
    }

    .mangas, .comics{
        font-size: large;
    }

    .footer {
        flex-wrap: wrap;
    }
}




    /* ------------------------------main ofertas--------------------------------- */

.ofertas {
background-color: rgba(0, 0, 0, 0.192);
padding: 10px;
text-align: center;
}

.ofertas-mangas {
background-color: rgba(0, 0, 0, 0.192);
padding: 15px 10px;
text-align: center;
}

.ofertas-comics {
background-color: rgba(0, 0, 0, 0.192);
padding: 15px 10px;
text-align: center;
}

.flex {
display: flex;
overflow-x: scroll;

-webkit-transition: 0.1s ease-in-out;
transition: 0.1 ease-in-out;
}

.flex :hover {
    -webkit-box-shadow: 0px 0px 20px black;
    box-shadow: black 0px 0px 10px 8px;   
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicbatmansilencio, .comicflashpoint, .mangagoldentime, .comicharleyquinn, .mangaAoashi {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.mangaservanxservice, .mangahaikyu, .mangamaoyu, .mangahajimenoippo, .mangagoblinslayer {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.comicreydeadpool, .comicdeadmanlogan, .comicloscuatrofantasticos, .comicsupervillanos {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.ofertas img {
max-width: 250px;
max-height: 345px;
}

.ofertas-mangas img {
max-width: 250px;
max-height: 345px;
}

.ofertas-comics img {
max-width: 250px;
max-height: 345px;
}

.ofertas a {
display: block;
border: solid 3px black;
padding: 2px 5px;
background-color: rgba(255, 0, 0, 0.705);
border-radius: 15px;
}

.ofertas-mangas a {
display: block;
border: solid 3px black;
padding: 2px 5px;
background-color: rgba(255, 0, 0, 0.705);
border-radius: 15px;
}

.ofertas-comics a {
display: block;
border: solid 3px black;
padding: 2px 5px;
background-color: rgba(255, 0, 0, 0.705);
border-radius: 15px;
}

.ofertas a:hover {
background-color: red;
}

.ofertas-mangas a:hover {
background-color: red;
}

.ofertas-comics a:hover {
background-color: red;
}

    /* ----------------------------main mangas------------------------------- */

.mangas {
background-color: rgba(0, 0, 0, 0.192);
padding: 15px 10px;
text-align: center;

-webkit-transition: 0.1s ease-in-out;
transition: 0.1 ease-in-out;
}

.mangajujutsu, .mangaspyxfamily, .mangaAttack-on-titan, .mangaranking-of-king, .mangademon-slayer {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

    /* -----------------------------pagina de mangas----------------- */
    
.mangaonepice, .mangakingdom, .mangadatealive,.mangadragonballz, .mangafireforce {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.mangaoverlord, .mangaberserk, .mangafairytail, .mangablackclover, .mangadrstone {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.manga91days, .mangasconception, .mangasyuYuhakusho, .mangastowerofgod, .mangasnoblesse {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}
    /* -----------------------------pagina de mangas----------------- */

.mangas img {
max-width: 250px;
max-height: 345px;
}

.mangas a {
display: block;
border: solid 3px black;
padding: 2px 5px;
background-color: rgba(255, 0, 0, 0.705);
border-radius: 15px;
}

.mangas a:hover {
background-color: red;
}


/* ----------------------------main comic------------------------- */

.comics {
background-color: rgba(0, 0, 0, 0.192);
padding: 15px 10px;
text-align: center;
}

.comicavenger, .comicCapitanamerica, .comicCarnegaAbsolute, .comicmultiversoOscuro, .comicuniversobatman, .comicbatmansilencio, .comicflashpoint {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

    /* --------------------pagina comics------------------------ */

.comichoracero, .comictheadventurebatman, .comicamazingspiderman {
border: solid 2px black;
margin: 2px;
border-radius: 15px;
}

.comics img {
max-width: 250px;
max-height: 345px;
}

.comics a {
display: block;
border: solid 3px black;
padding: 2px 5px;
background-color: rgba(255, 0, 0, 0.705);
border-radius: 15px;
}

.comics a:hover {
background-color: red;
}

    /* ----------------------main contacto----------------------------- */


.formulario {
    background-color: lightblue;
    display: flex;
}

h3 {
    background-color: red;
    text-align: center;
}

.boton {
color: white;
width: 120px;
background-color: red;
}

    /* -------------------------------footer--------------------------- */

.footer {
background-color: blue;
padding: 40px;
text-align: center;
display: flex;
justify-content: space-between;
}

.formulario {
    flex-wrap: wrap;
}

.pagos {
border: solid 4px black;
}

.redesSociales {
border: solid 4px black;
}

.newsletter {
border: solid 4px black;
}

.enviar {
padding: 4px 4px;
color: white;
background-color: red;
}