.mangajujutsu :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaspyxfamily :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaAttack-on-titan :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaranking-of-king :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangademon-slayer :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangagoldentime :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaAoashi :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaservanxservice :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangahaikyu :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangahajimenoippo :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangagoblinslayer :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaonepice :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangakingdom :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangadatealive :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangadragonballz :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangafireforce :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaoverlord :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangaberserk :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangafairytail :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangablackclover :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangadrstone :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.manga91days :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangasconception :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangasyuYuhakusho :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangastowerofgod :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.mangasnoblesse :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicavenger :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicCapitanamerica :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicCarnegaAbsolute :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.comicmultiversoOscuro :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicuniversobatman :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicbatmansilencio :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicflashpoint :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicharleyquinn {
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicreydeadpool :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicdeadmanlogan :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicloscuatrofantasticos :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicsupervillanos :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comichoracero :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comictheadventurebatman :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.comicamazingspiderman :hover{
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: #3a3a3a 0px 0px 10px 2px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}